cmake-build-debug/**
cmake-build-debug/bin
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles
cmake-build-debug/cmake_install.cmake
cmake-build-debug/Makefile
cmake-build-debug/pokemon_sim.cbp
